# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Project/FineUI/obj/Debug/FineUI.csprojResolveAssemblyReference.cache
Project/BLL/bin/Debug/BLL.pdb
Project/BLL/bin/Debug/DAL.pdb
Project/FineUI.Example/bin/Maticsoft.DBUtility.dll
Project/FineUI.Example/bin/FineUI.Examples.dll
Project/FineUI.Example/bin/Entity.dll
Project/BLL/bin/Debug/BLL.dll
Project/BLL/bin/Debug/DAL.pdb
Project/FineUI/obj/Debug/FineUI.pdb
Project/FineUI/obj/Debug/FineUI.pdb
Project/FineUI/obj/Debug/FineUI.pdb
Project/FineUI.Example/bin/FineUI.pdb
Project/FineUI.Example/bin/Entity.pdb
Project/BLL/bin/Debug/BLL.dll
Project/BLL/bin/Debug/DAL.pdb
Project/BLL/bin/Debug/Maticsoft.DBUtility.pdb
Project/BLL/obj/Debug/BLL.pdb
