
<!DOCTYPE HTML>
<html>
	<head>
		<title>ANRUI International | login</title>
		<link href="../../css/login.css" rel='stylesheet' type='text/css' />
		
    <meta charset="utf-8">
	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="top-header">
					<div class="wrap">
						<div class="footer-left">
				<ul>
						<li><a href="nanshi.html">男士</a> <span> </span></li>
						<li><a href="nvshi.html">女生</a> <span> </span></li>
						<li><a href="dzcp.html">电子产品</a> <span> </span></li>
						<li><a href="ssp.html">奢饰品</a> <span> </span></li>
						<li><a href="pinpai.html">品牌</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
                        
						<div class="top-header-right">
							<ul>
								<li><a href="login.html">登录</a><span> </span></li>
								<li><a href="zc.html">注册</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				
				<div class="mid-header">
					<div class="wrap">
					  <div class="mid-grid-right">
						  <a  href="index.html"><span> 这是LOGO</span></a>
						</div>
						<div class="clear"> </div>
				  </div>
				</div>
			
				<div class="header-bottom">
					<div class="wrap">
                          </div>
				</div>
				</div>
                   <div id="content">
                   <div class="group">
			         <img class="error-404-image group" src="../../images/404.png" title="404 Error" alt="404 Error" />
			         <div class="error-404-text group">
			            <h2 />
			            很抱歉，您访问的页面不存在
			            <h2 />
			            <h3>请查看你输入的内容是否正确 <a href="index.html">您也可以返回主页</a>.</h3>
			         </div>
			      </div>
                  </div>
        <div class="footer">
			<div class="wrap">
				<div class="footer-left">
		<ul>li>
						<li><a href="nanshi.html">男士</a> <span> </span></li>
						<li><a href="nvshi.html">女生</a> <span> </span></li>
						<li><a href="dzcp.html">电子产品</a> <span> </span></li>
						<li><a href="ssp.html">奢饰品</a> <span> </span></li>
						<li><a href="pinpai.html">品牌</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				
				<div class="clear"> </div>
			</div>
		</div>

	</body>
</html>

