<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="css/nanshi.css" rel="stylesheet" type="text/css" />
    <link href="css/nvshi.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="shang">
        <span class="zi1">ANRUI International</span>
        <div class="dh">
            <ul>
                <li><a href="index.ashx">首页</a> </li>
                <li><a href="male.ashx">男士</a> </li>
                <li><a href="female.ashx">女士</a> </li>
                <li><a href="Electronic.ashx">电子产品</a> </li>
                <li><a href="Luxury.ashx">奢移品</a> </li>
                <li><a href="Brand.ashx">品牌</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="daright">
            <ul>
                <li><a href="aspx/login.aspx">登录</a><span> </span></li>
                <li><a href="aspx/register.aspx">注册</a></li>
            </ul>
        </div>
    </div>


    <div id="da">

        <div id="zhong">
            <div class="tu1">
                <img src="images/准确广告图/32.png" width="1257" height="482" /></div>
        </div>
        <div class="tu2">
            <img src="images/广告图/4.jpg" width="1190" height="120" /></div>
    </div>
    </div><!--zhong-->

    <div id="zhong2">
        <div id="a1" class="b1">
            <p class="zi4">今日上线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TODAY</p>
            <div>
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/30.jpg" width="218" height="370" class="tu3" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand_lv_1.png" width="216" height="84" /></div>
            <!--这里插logo-->
        </div>


        <div id="a1" class="b1">
            <p class="zi101">限时折扣&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;SALE</p>
            <div>
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/29.jpg" width="218" height="370" class="tu3" /></a>
            </div>
            <div class="logo1">
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/brand_lv_2.png" width="217" height="84" /></a>
            </div>
        </div>


        <div id="a1" class="b1">
            <p class="zi102">热门品牌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOT ></p>
            <div>
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/31.jpg" width="218" height="370" class="tu3" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand_lv_4.png" width="216" height="84" />
            </div>
        </div>

        <div id="a1" class="b1">
            <div>
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/32.jpg" width="218" height="370" class="tu31" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand_lv_3.png" width="219" height="84" /></div>
        </div>

        <div id="a1" class="b1">
            <div>
                <a href="Special.aspx?tid=2">
                    <img src="images/广告图/33.jpg" width="218" height="370" class="tu31" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand_lv_5.png" width="216" height="84" /></div>
        </div>

    </div>
    <!--zhong2>-->

    <h3 class="zi7">女包WOMEN'S&nbsp;BAG</h3>

    <div id="di">
        <div class="zs">
            <img src="images/广告图/36.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                 <a href="detials.aspx?ProID=$Model.bag1.ProId"><img src="$Model.bag1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"><a href="tjgwc.html"></a></p>
                <p class="zi11">$Model.bag1.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.bag2.ProId"><img src="$Model.bag2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11"><a href="tjgwc.html"></a></p>
                <p class="zi11">$Model.bag2.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
                <a href="detials.aspx?ProID=$Model.bag3.ProId"><img src="$Model.bag3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11"><a href="tjgwc.html"></a></p>
                <p class="zi11">$Model.bag3.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.bag4.ProId"><img src="$Model.bag4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.bag4.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.bag5.ProId"><img src="$Model.bag5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.bag5.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.bag6.ProId"><img src="$Model.bag6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">$Model.bag6.ProName</p>
                <p class="zi12">女包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->


    </div>
    <!--di1-->


    <h3 class="zi8">香水&nbsp;WOMEN'S&nbsp;Perfume  </h3>

    <div id="di2">
        <div class="zs">
            <img src="images/广告图/34.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.Perfume1.ProId"><img src="$Model.Perfume1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume1.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.Perfume2.ProId"><img src="$Model.Perfume2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume2.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
               <a href="detials.aspx?ProID=$Model.Perfume3.ProId"><img src="$Model.Perfume3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume3.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
               <a href="detials.aspx?ProID=$Model.Perfume4.ProId"><img src="$Model.Perfume4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume4.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
               <a href="detials.aspx?ProID=$Model.Perfume5.ProId"><img src="$Model.Perfume5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume5.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.Perfume6.ProId"><img src="$Model.Perfume6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.Perfume6.ProName</p>
                <p class="zi12">香水专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->

    </div>
    <!--di2-->



    <h3 class="zi9">服饰&nbsp;WOMEN'S&nbsp;CLOTH  </h3>

    <div id="di3">
        <div class="zs">
            <img src="images/广告图/35.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.cloth1.ProId"><img src="$Model.cloth1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth1.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.cloth2.ProId"><img src="$Model.cloth2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth2.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
                <a href="detials.aspx?ProID=$Model.cloth3.ProId"><img src="$Model.cloth3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth3.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.cloth4.ProId"><img src="$Model.cloth4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth4.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.cloth5.ProId"><img src="$Model.cloth5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth5.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.cloth6.ProId"><img src="$Model.cloth6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11"></p>
                <p class="zi11">$Model.cloth6.ProName</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->

    </div>
    <!--di2-->







    <div id="zuidi">
        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>


    </div>


    </div>
    <!--da-->
</body>
</html>
