<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/nanshi.css" rel="stylesheet" type="text/css" />
<link href="css/nvshi.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="shang">
<span class="zi1">ANRUI International</span>
 <div class="dh">
					<ul>
						<li><a href="index.html">首页</a> </li>
						<li><a href="nanshi.html">男士</a> </li>
						<li><a href="nvshi.html">女士</a> </li>
						<li><a href="dzcp.html">电子产品</a> </li>
						<li><a href="ssp.html">奢移品</a> </li>
						<li><a href="pinpai.html">品牌</a></li>
						<div class="clear"> </div>
					</ul>
				</div>

                 <div class="daright">
							<ul>
								<li><a href="login.html">登录</a><span> </span></li>
								<li><a href="zc.html">注册</a></li>
							</ul>
						</div>
</div>


<div id="da">

<div id="zhong">
<div class="tu1"><img src="images/准确广告图/32.png" width="1257" height="482" /></div>
</div>
<div class="tu2"><img src="images/广告图/4.jpg" width="1190" height="120" /></div>
</div>
</div><!--zhong-->

<div id="zhong2">
<div id="a1" class="b1">
<p class="zi4">今日上线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TODAY</p>
<div  ><img  src="images/广告图/30.jpg" width="218" height="370" class="tu3" /></div>
<div class="logo1"><img src="images/广告图/brand_lv_1.png" width="216" height="84"  /></div>
<!--这里插logo-->
</div>


<div id="a1" class="b1">
<p class="zi101">限时折扣&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;SALE</p>
<div ><img  src="images/广告图/29.jpg" width="218" height="370" class="tu3" /></div>
<div class="logo1"><img src="images/广告图/brand_lv_2.png" width="217" height="84"  /></div>
</div>


<div id="a1" class="b1">
<p class="zi102">热门品牌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOT ></p>
<div ><img  src="images/广告图/31.jpg" width="218" height="370"  class="tu3"/></div>
<div class="logo1"><img src="images/广告图/brand_lv_4.png" width="216" height="84"  /></div>
</div>

<div id="a1" class="b1">
<div ><img  src="images/广告图/32.jpg" width="218" height="370" class="tu31" /></div>
<div class="logo1"><img src="images/广告图/brand_lv_3.png" width="219" height="84"  /></div>
</div>

<div id="a1" class="b1">
<div ><img   src="images/广告图/33.jpg" width="218" height="370" class="tu31"/></div>
<div class="logo1"><img src="images/广告图/brand_lv_5.png" width="216" height="84"  /></div>
</div>

</div><!--zhong2>-->

<h3 class="zi7">男包MEN'S&nbsp;BAG</h3>

<div id="di">
<div class="zs">
<img src="images/广告图/36.jpg" width="486" height="560" class="tu5" /></div>
<!--zs-->
<div class="ys">
<div id="hehe" class="bk1" ><img src="images/品牌及页面图片/女士页面图片/four_lv_1.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"><a href="tjgwc.html"> <p class="zi11"><a href="tjgwc.html">博柏利</p></a></a> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="bk1"><img src="images/品牌及页面图片/女士页面图片/four_lv_2.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html"> <p class="zi11"><a href="tjgwc.html">博柏利</p></a></a> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b2"><img src="images/品牌及页面图片/女士页面图片/four_lv_3.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/four_lv_4.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/four_lv_6.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b4"><img src="images/品牌及页面图片/女士页面图片/four_lv_5.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
</div><!--ys-->

 
</div><!--di1-->

 
<h3 class="zi8"> 手表&nbsp;MEN'S&nbsp;WATCH  </h3>

<div id="di2">
<div class="zs">
<img src="images/广告图/34.jpg" width="486" height="560" class="tu5" /></div>
<!--zs-->
<div class="ys">
<div id="hehe" class="bk1" ><img src="images/品牌及页面图片/女士页面图片/two_lv_1.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="bk1"><img src="images/品牌及页面图片/女士页面图片/two_lv_2.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b2"><img src="images/品牌及页面图片/女士页面图片/two_lv_4.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/two_lv_3.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/two_lv_6.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b4"><img src="images/品牌及页面图片/女士页面图片/two_lv_5.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
</div><!--ys-->

</div><!--di2-->



<h3 class="zi9"> 手表&nbsp;MEN'S&nbsp;WATCH  </h3>

<div id="di3">
<div class="zs">
<img src="images/广告图/35.jpg" width="486" height="560" class="tu5" /></div>
<!--zs-->
<div class="ys">
<div id="hehe" class="bk1" ><img src="images/品牌及页面图片/女士页面图片/one_lv_1.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="bk1"><img src="images/品牌及页面图片/女士页面图片/one_lv_2.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b2"><img src="images/品牌及页面图片/女士页面图片/one_lv_3.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/one_lv_4.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b3"><img src="images/品牌及页面图片/女士页面图片/one_lv_5.png" width="227" height="227"  class="he1" /> 
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
<div id="hehe" class="b4">
  <img src="images/品牌及页面图片/女士页面图片/one_lv_6.png" width="227" height="227"  class="he1" />
  <p class="zi11"> <p class="zi11"><a href="tjgwc.html">博柏利</a></p> <p class="zi12">男包专场</p> <span id="zi13">全场<span class="zi14">5折</span>起</span></div>
</div><!--ys-->

</div><!--di2-->







<div id="zuidi">
<div class="c1">
<div class="tubiao1"> <h5 class="zi10">箱包</h5> </div>
<p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
<p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
</div>

<div class="c1">
<div class="tubiao1"> <h5 class="zi10">箱包</h5> </div>
<p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
<p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
</div>

<div class="c1">
<div class="tubiao1"> <h5 class="zi10">箱包</h5> </div>
<p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
<p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
</div>

<div class="c1">
<div class="tubiao1"> <h5 class="zi10">箱包</h5> </div>
<p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
<p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
</div>

<div class="c1">
<div class="tubiao1"> <h5 class="zi10">箱包</h5> </div>
<p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
<p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
<p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
</div>


</div>


</div>
<!--da-->
</body>
</html>
