<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ANRUI International</title>
    <link href="css/syp.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="shang">
        <span class="zi1">ANRUI International</span>
        <div class="dh">
            <ul>
                <li><a href="index.ashx">首页</a> </li>
                <li><a href="male.ashx">男士</a> </li>
                <li><a href="female.ashx">女士</a> </li>
                <li><a href="Electronic.ashx">电子产品</a> </li>
                <li><a href="Luxury.ashx">奢移品</a> </li>
                <li><a href="Brand.ashx">品牌</a></li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="daright">
            <ul>
                <li><a href="aspx/login.aspx">登录</a><span> </span></li>
                <li><a href="aspx/register.aspx">注册</a></li>
            </ul>
        </div>
    </div>

    </div>



    <div id="da">

        <div id="zhong">
            <div class="tu1">
                <img src="images/准确广告图/11.png" width="1235" height="425" />
            </div>
        </div>
    </div>
    <!--zhong-->

    <div id="zhong2">
        <div class="tu2a">
            <div>
                <img src="images/广告图/13.jpg" width="240" height="450" class="tu2" />
            </div>
            <div>
                <img src="images/广告图/12.jpg" width="240" height="450" class="tu2b" />
            </div>
            <div>
                <img src="images/广告图/14.jpg" width="240" height="450" class="tu2b" />
            </div>
            <div>
                <img src="images/广告图/15.jpg" width="240" height="450" class="tu2b" />
            </div>
        </div>
    </div>
    <!--zhong2-->

    <div id="zhong3">
        <div class="a1">
            <div>
                <img src="images/广告图/45.jpg" width="345" height="150" id="tu3" />
            </div>
            <div>
                <img src="images/广告图/46.jpg" width="345" height="150" class="tu4" id="tu3" />
            </div>
            <div>
                <img src="images/广告图/47.jpg" width="345" height="150" class="tu4" id="tu3" />
            </div>
        </div>
    </div>
    <!--zhong3-->


    <div id="di">
        <div class="a2">
            <img class="logo" src="images/jietu1.png" />
        </div>

        <h3 class="zi7">箱包&nbsp;&nbsp;|&nbsp;&nbsp;手表&nbsp;&nbsp;|&nbsp;&nbsp;宝珠&nbsp;&nbsp;|&nbsp;&nbsp;香水&nbsp;&nbsp;|</h3>

        <div id="xia">
            <div class="zuo1">
                <img src="images/zuo1.png" />
            </div>

            #set($i = 1)
            #foreach($p in $Model.products)
            #if($i <= 3 )
            <div id="youd">
            #else
            <div id="youd" class="youxia">
            #end
                <div class="tu">
                    <img src="$p.Img" width="227" height="227" class="tu5" />
                </div>
                <div class="youx">
                    <span class="zi8">$p.ProName</span>
                    <p class="zi9">￥$p.Price</p>
                    <p class="zi10"><a href="detials.aspx?ProID=$p.ProID">我要购买</a></p>
                </div>
                <!--youx-->
            </div>
            <!--youd-->
            #set($i =$i + 1)
            #end

        </div>
        <!--xia-->
    </div>
    <!--di1-->


    <div id="di2">
        <div class="a2">
            <img class="logo" src="images/jietu1.png" />
        </div>

        <h3 class="zi7">箱包&nbsp;&nbsp;|&nbsp;&nbsp;手表&nbsp;&nbsp;|&nbsp;&nbsp;宝珠&nbsp;&nbsp;|&nbsp;&nbsp;香水&nbsp;&nbsp;|</h3>

        <div id="xia">
            <div class="zuo1">
                <img src="images/zuo1.png" />
            </div>

            #set($a = 1)
            #foreach($p in $Model.products)
            #if($a <= 3 )
            <div id="youd">
            #else
            <div id="youd" class="youxia">
            #end
                <div class="tu">
                    <img src="$p.Img" width="227" height="227" class="tu5" />
                </div>
                <div class="youx">
                    <span class="zi8">$p.ProName</span>
                    <p class="zi9">￥$p.Price</p>
                    <p class="zi10"><a href="detials.aspx?ProID=$p.ProID">我要购买</a></p>
                </div>
                <!--youx-->
            </div>
            <!--youd-->
            #set($a =$a + 1)
            #end


        </div>
        <!--xia-->


    </div>
    <!--di2-->

    <div id="zuixia">
        <div class="tu6">
            <img class="tu6a" src="images/广告图/12.png" />
        </div>
    </div>


    </div>
    <!--da-->


</body>
</html>
