<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="css/nanshi.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="shang" >
        <span class="zi1">ANRUI International</span>
        <div class="dh">
            <ul>
                <li><a href="index.ashx">首页</a> </li>
                <li><a href="Male.ashx">男士</a></li>
                <li><a href="Female.ashx">女士</a></li>
                <li><a href="Electronic.ashx">电子产品</a></li>
                <li><a href="Luxury.ashx">奢饰品</a></li>
                <li><a href="Brand.ashx">品牌</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="daright">
            <ul>
                <li><a href="aspx/login.aspx">登录</a><span> </span></li>
                <li><a href="zc.html">注册</a></li>
            </ul>
        </div>
    </div>


    <div id="da">

        <div id="zhong">
            <div class="tu1">
                <img src="images/准确广告图/65.png" width="1190" height="530" />
            </div>
        </div>
        <div class="tu2">
            <img src="images/广告图/4.jpg" width="1190" height="120" /></div>
    </div>
    </div><!--zhong-->

    <div id="zhong2">
        <div id="a1" class="b1">
            <p class="zi4">今日上线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TODAY</p>
            <div>
                <a href="Special.aspx?tid=1"><img src="images/广告图/24.jpg" width="217" height="370" class="tu3" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand.png" width="226" height="84" /></div>
            <!--这里插logo-->
        </div>


        <div id="a1" class="b1">
            <p class="zi101">限时折扣&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ON&nbsp;SALE</p>
            <div>
                <a href="Special.aspx?tid=1"><img src="images/广告图/25.jpg" width="217" height="370" class="tu3" /></a>
            </div>
            <div class="logo1">
                <img src="images/广告图/brand_2.png" width="226" height="84" /></div>
        </div>


        <div id="a1" class="b1">
            <p class="zi102">热门品牌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOT ></p>
            <div>
                <a href="Special.aspx?tid=1"><img src="images/广告图/26.jpg" width="217" height="370" class="tu3" /></a></div>
            <div class="logo1">
                <img src="images/广告图/brand_3.png" width="226" height="84" /></div>
        </div>

        <div id="a1" class="b1">
            <div>
                <a href="Special.aspx?tid=1"><img src="images/广告图/27.jpg" width="217" height="370" class="tu31" /></a></div>
            <div class="logo1">
                <img src="images/广告图/brand_4.png" width="226" height="84" /></div>
        </div>

        <div id="a1" class="b1">
            <div>
                <a href="Special.aspx?tid=1"><img src="images/广告图/28.jpg" width="217" height="370" class="tu31" /></a></div>
            <div class="logo1">
                <img src="images/广告图/brand_5.png" width="216" height="84" /></div>
        </div>

    </div>
    <!--zhong2>-->

    <h3 class="zi7">男包MEN'S&nbsp;BAG</h3>

    <div id="di">
        <div class="zs">
            <img src="images/广告图/38.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.bag1.ProID"><img src="$Model.bag1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.bag2.ProID"><img src="$Model.bag2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
                <a href="detials.aspx?ProID=$Model.bag3.ProID"><img src="$Model.bag3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.bag4.ProID"><img src="$Model.bag4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.bag5.ProID"><img src="$Model.bag5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.bag6.ProID"><img src="$Model.bag6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->


    </div>
    <!--di1-->


    <h3 class="zi8">手表&nbsp;MEN'S&nbsp;WATCH  </h3>

    <div id="di2">
        <div class="zs">
            <img src="images/广告图/37.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.watch1.ProID"><img src="$Model.watch1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.watch2.ProID"><img src="$Model.watch2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
                <a href="detials.aspx?ProID=$Model.watch3.ProID"><img src="$Model.watch3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.watch4.ProID"><img src="$Model.watch4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.watch5.ProID"><img src="$Model.watch5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.watch6.ProID"><img src="$Model.watch6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->

    </div>
    <!--di2-->



    <h3 class="zi9">服饰&nbsp;MEN'S&nbsp;CLOTH  </h3>

    <div id="di3">
        <div class="zs">
            <img src="images/广告图/39.jpg" width="486" height="560" class="tu5" />
        </div>
        <!--zs-->
        <div class="ys">
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.cloth1.ProID"><img src="$Model.cloth1.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">1折</span>起</span>
                   
            </div>
            <div id="hehe" class="bk1">
                <a href="detials.aspx?ProID=$Model.cloth2.ProID"><img src="$Model.cloth2.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b2">
                <a href="detials.aspx?ProID=$Model.cloth3.ProID"><img src="$Model.cloth3.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.cloth4.ProID"><img src="$Model.cloth4.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b3">
                <a href="detials.aspx?ProID=$Model.cloth5.ProID"><img src="$Model.cloth5.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
            <div id="hehe" class="b4">
                <a href="detials.aspx?ProID=$Model.cloth6.ProID"><img src="$Model.cloth6.Img" width="227" height="227" class="he1" /></a>
                <p class="zi11">博柏利</p>
                <p class="zi12">男包专场</p>
                <span id="zi13">全场<span class="zi14">5折</span>起</span>
            </div>
        </div>
        <!--ys-->

    </div>

    <!--di2-->
    <div id="zuidi">
        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>

        <div class="c1">
            <div class="tubiao1">
                <h5 class="zi10">箱包</h5>
            </div>
            <p class="zi6"><a href="#">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">男士</a></p>
            <p class="zi6"><a href="#">女士</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">电子产品</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
            <p class="zi6"><a href="#">哈哈</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">呵呵呵呵</a></p>
        </div>


    </div>


    </div>
    <!--da-->


</body>
</html>
