
<!DOCTYPE HTML>
<html>
	<head>
		<title>ANRUI International | login</title>
		<link href="css/zc.css" rel='stylesheet' type='text/css' />
		
    <meta charset="utf-8">
	</head>
	<body>
	
	
			<div class="header">
				<div class="top-header">
					<div class="wrap">
						<div class="footer-left">
				<ul><li><a href="index.html">首页</a> <span> </span></li>
						<li><a href="nanshi.html">男士</a> <span> </span></li>
						<li><a href="nvshi.html">女生</a> <span> </span></li>
						<li><a href="dzcp.html">电子产品</a> <span> </span></li>
						<li><a href="ssp.html">奢饰品</a> <span> </span></li>
						<li><a href="pinpai.html">品牌</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
                        
						<div class="top-header-right">
							<ul>
								<li><a href="login.html">登陆</a><span> </span></li>
								<li><a href="zc.html">注册</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
			
				<div class="mid-header">
					<div class="wrap">
					  <div class="mid-grid-right">
						  <a  href="index.html"><span> 这是LOGO</span></a>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
	
				<div class="header-bottom">
					<div class="wrap">
		</div>
				</div>
				</div>
	
		<div class="content login-box">
			<div class="login-main">
				<div class="wrap">
					<h1>ANRUI InternationalT</h1>
					<div class="register-grids">
						<form> 
								<div class="register-top-grid">
										<h3>ANRUI International注册</h3>
										<div>
											<span>账号<label>*</label></span>
											<input type="text"> 
										</div>
										<div>
											<span>密码<label>*</label></span>
											<input type="text"> 
										</div>
										<div>
											<span>确认密码<label>*</label></span>
											<input type="text"> 
										</div>
										<div>
											<span>姓名<label>*</label></span>
											<input type="text"> 
										</div>
											<a class="news-letter" href="#">
												<label class="checkbox"><input type="checkbox" name="checkbox" checked="">
											    </label>
											</a>
									
								</div>
								<div class="clear"> </div>
								<div class="register-bottom-grid">
										
										<div>
											<span>支付密码<label>*</label></span>
											<input type="text">
										</div>
                                        	<div>
											<span>邮箱 <label>*</label></span>
											<input type="text">
										</div>
										<div>
											<span>手机号<label>*</label></span>
											<input type="text">
										</div>
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
                                <div class="clear"> </div>
                                <div class="clear"> </div>
								 <span class="zi8"><a href="tjgwc.html">注册</a></span>
						</form>
                       
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrap">
		<div class="footer-left">
				<ul>
						<li><a href="#">网络文化经营许可证京网文[2011]0168-061号  违法和不良信息举报电话：4006561155  Copyright © 2004-201版权所有</a></li>
						
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>

	</body>
</html>

