
<!DOCTYPE HTML>
<html>
	<head>
		<title>ANRUI International | login</title>
		<link href="css/zhuanchang.css" rel='stylesheet' type='text/css' />
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        
		
    <meta charset="utf-8">
	</head>
	<body>
	
			<div class="header">
				<div class="top-header">
					<div class="wrap">
						<div class="footer-left">
				<ul><li><a href="index.html">首页</a> <span> </span></li>
						<li><a href="nanshi.html">男士</a> <span> </span></li>
						<li><a href="nvshi.html">女生</a> <span> </span></li>
						<li><a href="dzcp.html">电子产品</a> <span> </span></li>
						<li><a href="ssp.html">奢饰品</a> <span> </span></li>
						<li><a href="pinpai.html">品牌</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
                        
						<div class="top-header-right">
							<ul>
								<li><a href="login.html">登录</a><span> </span></li>
								<li><a href="zc.html">注册</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				
		
			
	
    
    
        
        
        <div class="container">
      
      <div class="zhong">
			<div class="container">
				<div class="row">
					<div class="zhongxi">
						<ul class="zhong_box">
							<h4>男士专场</h4>


					
						</ul>
					</div>
		
                    		<div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>		<div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>		<div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>
                    		<div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>
                    
                    
                    
                    
				  <div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>
                    
                    	<div class="zhongzi">
						<ul class="zhong_box">
								<h4>男士专场</h4>
							<li><a href="#"></a></li>
							<li><a href="#">XXXP品牌</a></li>
							<li><a href="#">XXXP品牌</a></li>	
						</ul>
					</div>
                    
                    
                    
                    
					<div class="sosuo">
						<ul class="sousuozi">
							
<form class="form-wrapper cf">
	<input type="text" placeholder="搜索商品" required>
	<button type="submit">搜索一下</button>
</form>
                              
					        </div>
                         
					
						
					</div>
				</div>
				<div class="row zhong_bottom">
				    <div class="copy"></dl>
   				</div>
			</div>
            
		</div>
      
      
      
      
      
      
      
      <div class="zhong2">
			<div class="row shop_box-top">
				<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/45.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
                <div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/89.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
                
                <div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/213.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
                
                <div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/591.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
                
                <div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/789.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
                
                
                
							<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/789+2.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>				
               			<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/916.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
							<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/1520.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
			  </div>
                
			</div>
			
            
            			<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/4926.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
		</div>
                
                
							<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/8492.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
		</div>
                
                
							<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/9265.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
		</div>
                
                
						<div class="col-md-3 shop_box"><a href="sp.html">
					<img src="images/nanshi/nanshi/86513.jpg" alt="" width="500" height="311" class="img-responsive"/>
				
					<div class="shop_desc">
						<h3><a href="#">男士最新</h3>
						<p>男士最新 </p>
						<span class="reducedfrom">$1000.00</span>
						<span class="actual">$888.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">加关注</li>
							<li class="shop_btn"><a href="#">进入商品页面</li>
							<div class="clear"> </div>
					    </ul>
				    </div>
                    
                    
                    
                    
                    
                    
                    
   
		</div>
                                 <div class="pagination">
		     <ul>
			    <li class="prev"><span>&#8592;</span></li>
			    <li class="curent"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><span>...</span></li>
			    <li><a href="#">100</a></li>
			    <li class="next"><a href="#">&#8594;</a></li>
		     </ul>
	      </div>
	</div>
            
          </div>
        
        
        
                    
					<div class="clear"> </div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="wrap">
				<div class="footer-left">
				<ul><li><a href="index.html">版权所有</a> <span> </span></li>
					
						<div class="clear"> </div>
					</ul>
				</div>
				
				<div class="clear"> </div>
			</div>
		</div>
		
	</body>
</html>

