<!DOCTYPE HTML>
<html>
<head>
    <title>ANRUI International | login</title>
    <link href="css/tjgwc1.css" rel='stylesheet' type='text/css' />

    <meta charset="utf-8">
</head>
<body>


    <div class="header">
        <div class="top-header">
            <div class="wrap">
                <div class="footer-left">
                    <ul>
                        li><a href="index.html">首页</a> <span></span></li>
						<li><a href="nanshi.html">男士</a> <span></span></li>
                        <li><a href="nvshi.html">女生</a> <span></span></li>
                        <li><a href="dzcp.html">电子产品</a> <span></span></li>
                        <li><a href="ssp.html">奢饰品</a> <span></span></li>
                        <li><a href="pinpai.html">品牌</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>

                <div class="top-header-right">
                    <ul>
                        <li><a href="login.html">登陆</a><span> </span></li>
                        <li><a href="zc.html">注册</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="mid-header">
            <div class="wrap">
                <div class="mid-grid-right">
                    <a href="index.html"><span>这是LOGO</span></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="wrap">
            </div>
        </div>
    </div>



    <div id="content">
        <div class="group">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3 class="h3">商品已成功加入购物车！</h3>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="error-404-text group">
                <h2 />
                <h3>
                    <span class="zi8"><a href="tijia.html">结算</a></span>
            </div>

        </div>

    </div>








    </div>
		
		<div class="bottom-grids">
            <div class="bottom-bottom-grids">
                <div class="wrap">
                    <div class="bottom-bottom-grid">
                        <h6>ANRUI International</h6>
                        <p>ANRUI International</p>
                        <a class="learn-more" href="#">ANRUI International</a>
                    </div>
                    <div class="bottom-bottom-grid">
                        <h6>ANRUI International</h6>
                        <p>ANRUI International</p>
                        <a class="learn-more" href="#">ANRUI International</a>
                    </div>
                    <div class="bottom-bottom-grid last-bottom-bottom-grid">
                        <h6>ANRUI International</h6>
                        <p>ANRUI International</p>
                        <a class="learn-more" href="#">ANRUI International</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li><a href="index.html">首页</a> <span></span></li>
                    <li><a href="nanshi.html">男士</a> <span></span></li>
                    <li><a href="nvshi.html">女生</a> <span></span></li>
                    <li><a href="dzcp.html">电子产品</a> <span></span></li>
                    <li><a href="ssp.html">奢饰品</a> <span></span></li>
                    <li><a href="pinpai.html">品牌</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>

